<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>ClipStash</strong> is the Project done by root-root1 <a
                href="https://github.com/root-root1/clipstash" target="_blank">Project code at</a>.
        </p>
    </div>
</footer>