<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>ClipStash</strong> is a component of the Rust programming course available at <a
                href="https://github.com/root-root1/clipstash">Project code at</a>.
        </p>
    </div>
</footer>